"*":
  "atom-material-ui":
    colors:
      genAccent: true
    tabs:
      noTabMinWidth: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    softTabs: false
  "exception-reporting":
    userId: "ddd0b6f5-075e-4f92-b89f-a99eaf8692e8"
  welcome:
    showOnStartup: false
